node_modules
/dist
/pack
/src-tauri/target
/src-tauri/gen
.vscode/settings.json
.idea

.pnp.*
.pnpm-store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vite-inspect

.DS_Store
YTM_TAURI_BUILD_GUIDE.md
